@model KoreatechGraduateManagement.Models.GraduateCredit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GraduateCredit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntranceYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntranceYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalGraduateCredit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalGraduateCredit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectivesNormalCredit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectivesNormalCredit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectivesNecessaryCredit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectivesNecessaryCredit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoreClassNormalCredit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoreClassNormalCredit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoreClassNecessaryCredit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoreClassNecessaryCredit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HRDNormalCredit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HRDNormalCredit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HRDClassNecessaryCredit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HRDClassNecessaryCredit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MSCNormalCredit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MSCNormalCredit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MSCNecessaryCredit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MSCNecessaryCredit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FreeCredit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FreeCredit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
