@model StatusViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@using Microsoft.AspNetCore.Http;
@if (Context.Session.GetString("Authorize") == "Admin")
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>


    <form asp-controller="Status" asp-action="Index">
        <p>
            유저 아이디 : <input type="text" name="userID">
            <input type="submit" value="검색" />
        </p>
    </form>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StatusInfos[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusInfos[0].SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusInfos[0].Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusInfos[0].ClassNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusInfos[0].SubjectType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusInfos[0].Target)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusInfos[0].ClassTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusInfos[0].Credit)
            </th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null && Model.StatusInfos != null)
        {
            @foreach (var item in Model.StatusInfos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Semester)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Target)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Credit)
                    </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                </tr>
            }
        }
    </tbody>
</table>
