@model KoreatechGraduateManagement.Models.EtcStatus

@{
    ViewData["Title"] = "삭제";
}

<h1>삭제</h1>

<h3>정말로 삭제하시겠습니까?</h3>
<div>
    <h4>EtcStatus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsIPPFinish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsIPPFinish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEngineerCertificationFinish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEngineerCertificationFinish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEnglishCertificationFinish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEnglishCertificationFinish)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="삭제" class="btn btn-danger" />
        <a asp-action="Index">Back to List</a>
    </form>
</div>
