@model EtcStatusViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@using Microsoft.AspNetCore.Http;
@if (Context.Session.GetString("Authorize") == "Admin")
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>

<form asp-controller="EtcStatus" asp-action="Index">
    <p>
        유저 아이디 : <input type="text" name="SearchString">
        <input type="submit" value="검색" />
    </p>
</form>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EtcStatusInfos[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EtcStatusInfos[0].IsIPPFinish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EtcStatusInfos[0].IsEngineerCertificationFinish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EtcStatusInfos[0].IsEnglishCertificationFinish)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EtcStatusInfos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsIPPFinish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsEngineerCertificationFinish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsEnglishCertificationFinish)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
