@model IEnumerable<KoreatechGraduateManagement.Models.Subject>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Target)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Target)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
